/*  Overwritting some Bootstrap styles */

.btn {
    margin-bottom: 6px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { 
    background-color: #337ab7;
    color: black;
}

.list-group-item:last-child {
    margin-bottom: 6px;
}

.navbar-brand>img {
    display: inline-flex;
}